@using PRENATALv2.Areas.Records.Models
@model VitalSignsMR.Details

    <div class="container border-bottom">
        <h3><strong class="text-uppercase">Edit vitalsign</strong></h3>
        @using (Html.BeginForm("SaveExisting", "VitalSigns", FormMethod.Post, new { @class = "form-group" }))
        {

            @Html.AntiForgeryToken();
            <fieldset class="align-content-lg-around">

                @Html.HiddenFor(Model => Model.MedicalRecordId, new { @class = "d-none" })
                @Html.HiddenFor(Model => Model.Id, new { @class = "d-none" })

                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Date, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.Date, new { htmlAttributes = new { @type = "date", @class = " datepicker form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Date, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Temperature, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.Temperature, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Temperature, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.SystolicPressure, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.SystolicPressure, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.SystolicPressure, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.DiastolicPressure, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.DiastolicPressure, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.DiastolicPressure, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.HeartBeats, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.HeartBeats, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.HeartBeats, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.RespiratoryRate, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.RespiratoryRate, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.RespiratoryRate, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Height, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.Height, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Height, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Weight, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.Weight, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Weight, "", new { @class = "text-danger" })
                </div>

                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Note, new { @class = "col-sm-12" })<br />
                    @Html.EditorFor(Model => Model.Note, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Note, "", new { @class = "text-danger" })
                </div>

                <div class="d-inline">
                    <button id="edit_cancel" class="btn btn-small form-control">Cancel</button>
                    <input type="submit" class="btn btn-small form-control" value="Save" />
                </div>
            </fieldset>
        }
    </div>
<script>
    $('#edit_cancel').click(function () {
        $(this).parent().parent().parent().parent().parent().empty();
    });
</script>