@using PRENATALv2.Areas.Home.Models
@model List<AppUser>
@{
    Layout = "_Layout";
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
<div class="container">
    <div class="text-left" style="vertical-align:middle;">
        <a href="/Employees/Nurses/Add" style="vertical-align:middle; font-size:20px;" class="btn fas fa-plus-square d-inline a_icon"></a>

        <h5 style="vertical-align:middle;" class="d-inline"><strong class="text-uppercase">ALL Nurses:</strong></h5>
    </div>

    <table class="table">
        <tr><th>Id</th><th>UserName</th><th>Name</th><th>Surname</th><th>PhoneNumber</th><th>E-mail</th><th>Gender</th><th>Actions</th></tr>
        @foreach (AppUser x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.UserName</td>
                <td>@x.Name</td>
                <td>@x.Surname</td>
                <td>@x.PhoneNumber</td>
                <td>@x.Email</td>
                <td>@x.Gender</td>
                <td>
                    <a class="fas fa-edit a_icon" href="/Employees/Nurses/Edit?Id=@x.Id"></a>
                    <a class="fas fa-trash-alt a_icon" href="/Employees/Nurses/Delete?Id=@x.Id"></a>
                </td>
            </tr>
        }
    </table>


</div>
