@using PRENATALv2.Areas.Records.Models;
@model TherapiesMR
@Html.AntiForgeryToken()
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
<div class="container">

    <div class="text-left" style="vertical-align:middle;">
        @{ if (User.IsInRole("Nurse") || User.IsInRole("Doctor"))
            {
                <button style="vertical-align:middle; font-size:20px;" id="_therapy_add" class="btn fas fa-plus-square d-inline"></button>
            }
        }


        <h5 style="vertical-align:middle;" class="d-inline"><strong class="text-uppercase">Therapies:</strong></h5>
    </div>

    @{
        if (Model.Therapies.Count > 0)
        {
            <div class="container-fluid">

                <div class="row row_head">
                    <div class="col" hidden>Id</div>
                    <div class="col">BeginningDate</div>
                    <div class="col">EndingDate</div>
                    <div class="col">Medicaments</div>
                    <div class="col">Note</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>

                    <div class="col">Actions</div>
                </div>

                @foreach (TherapiesMR.Details x in Model.Therapies)
                {

                    <div class="row row_data">
                        <div class="col" hidden>@x.Id</div>
                        <div class="col">@x.BeginningDate.ToShortDateString()</div>
                        <div class="col">@x.EndingDate.ToShortDateString()</div>
                        <div class="col">@x.Medicaments</div>
                        <div class="col">@x.Note</div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>

                        <div class="col">
                            @{ if (User.IsInRole("Nurse") || User.IsInRole("Doctor"))
                                {
                                    <i style="font-size:20px;" class="_therapy_edit fas fa-edit a_icon"></i>
                                    <a style="font-size:20px;" class="_therapy_delete fas fa-trash-alt a_icon" href="/Records/Therapies/Delete?Id=@x.Id"></a>
                                }
                                else
                                { <div>N/A</div>}
                            }

                        </div>
                    </div>


                }

            </div>

        }

    }
    <div class="container" id="_therapies_add"></div>
    <div class="container" id="_therapies_edit"></div>
</div>


<script>
        $('._therapy_edit').click(function () {
            if ($('#_therapies_edit').html() == "") {
            var i = $(this).parent().parent().children().html();
            $.ajax({
                url: "/Records/Therapies/Edit?Id=" + i,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#_therapies_edit").html(data);
                },
                complete: function () {
                    $("form").each(function () { $.data($(this)[0], 'validator', false); });
                    $.validator.unobtrusive.parse("form");
                }
            });
        } else {
                $('#_therapies_edit').empty();
        }

    });
        $('#_therapy_add').click(function () {
            if ($('#_therapies_add').html() == "") {

            $.ajax({
                url: "/Records/Therapies/Add?Id="+@Model.MedicalRecordId,
                type: "GET",
                dataType: "html",
                success: function (data) {

                    $("#_therapies_add").html(data);

                },
                complete: function () {
                    $("form").each(function () { $.data($(this)[0], 'validator', false); });
                    $.validator.unobtrusive.parse("form");

                }
            });
        } else {
                $('#_therapies_add').empty();
        }
    });
</script>
