@using PRENATALv2.Areas.Records.Models
@model MedicalHistoriesMR.Details

    <div class="container border-bottom">
        <h3><strong class="text-uppercase">Edit history</strong></h3>
        @using (Html.BeginForm("SaveExisting", "MedicalHistories", FormMethod.Post, new { @class = "form-group" }))
        {

            @Html.AntiForgeryToken();
            <fieldset class="align-content-lg-around">

                @Html.HiddenFor(Model => Model.MedicalRecordId, new { @class = "d-none" })
                @Html.HiddenFor(Model => Model.Id, new { @class = "d-none" })

                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Date, new { @class = "col-sm-12" })
                    @Html.EditorFor(Model => Model.Date, new { htmlAttributes = new { @type = "date", @class = "datepicker form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Date, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Diagnosis, new { @class = "col-sm-12" })
                    @Html.EditorFor(Model => Model.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Diagnosis, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Note, new { @class = "col-sm-12" })
                    @Html.EditorFor(Model => Model.Note, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.ValidationMessageFor(Model => Model.Note, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline">
                    <button id="edit_cancel" class="btn btn-small form-control">Cancel</button>
                    <input type="submit" class="btn btn-small form-control" value="Save" />
                </div>
            </fieldset>
        }
    </div>
<script>
    $('#edit_cancel').click(function () {
        $(this).parent().parent().parent().parent().parent().empty();
    });
</script>