@using PRENATALv2.Areas.Records.Models
@model PregnanciesLossMR.Details

    <div class="container border-bottom">

        <h3><strong class="text-uppercase">Add pregnancy loss</strong></h3>
        @using (Html.BeginForm("Save", "PregnanciesLoss", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.AntiForgeryToken();
            <fieldset class="align-content-lg-around">
                @Html.HiddenFor(Model => Model.MedicalRecordId, new { @class = "d-none" })
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.PregnancyLossDate, new { @class = "col-sm-12" })<br />
                    @Html.TextBoxFor(Model => Model.PregnancyLossDate, new { @type = "date", @class = "datepicker form-control" })<br />
                    @Html.ValidationMessageFor(Model => Model.PregnancyLossDate, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Type, new { @class = "col-sm-12" })<br />
                    @Html.TextBoxFor(Model => Model.Type, new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(Model => Model.Type, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.Note, new { @class = "col-sm-12" })<br />
                    @Html.TextBoxFor(Model => Model.Note, new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(Model => Model.Note, "", new { @class = "text-danger" })
                </div>

                <div class="d-inline">
                    <button id="add_cancel" class="btn btn-small form-control">Cancel</button>
                    <input type="submit" class="btn btn-small form-control" value="Save" />
                </div>

            </fieldset>
        }

    </div>
<script>
    $('#add_cancel').click(function () {

        $(this).parent().parent().parent().parent().parent().empty();
    });
</script>