@using PRENATALv2.Areas.Records.Models
@model UltrasoundsMR.Details

    <div class="container border-bottom">

        <h3><strong class="text-uppercase">Add ultrasound</strong></h3>
        @using (Html.BeginForm("Save", "Ultrasounds", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.AntiForgeryToken();
    <fieldset class="align-content-lg-around">
        @Html.HiddenFor(Model => Model.MedicalRecordId, new { @class = "d-none" })
        @Html.HiddenFor(Model=>Model.Id)
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.Date, new { @class = "col-sm-12" })<br />
            @Html.TextBoxFor(Model => Model.Date, new { @type = "date", @class = " datepicker form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.Date, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.HeartBeats, new { @class = "col-sm-12" })<br />
            @Html.TextBoxFor(Model => Model.HeartBeats, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.HeartBeats, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.Movement, new { @class = "col-sm-12" })<br />
            @Html.CheckBoxFor(Model => Model.Movement, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.Movement, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.Length, new { @class = "col-sm-12" })<br />
            @Html.TextBoxFor(Model => Model.Length, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.Length, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.NuchalScan, new { @class = "col-sm-12" })<br />
            @Html.CheckBoxFor(Model => Model.NuchalScan, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.NuchalScan, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.Anomalies, new { @class = "col-sm-12" })<br />
            @Html.CheckBoxFor(Model => Model.Anomalies, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.Anomalies, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.HeadDiameter, new { @class = "col-sm-12" })<br />
            @Html.TextBoxFor(Model => Model.HeadDiameter, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.HeadDiameter, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.HeadCircumference, new { @class = "col-sm-12" })<br />
            @Html.TextBoxFor(Model => Model.HeadCircumference, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.HeadCircumference, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.AbdominalCircumference, new { @class = "col-sm-12" })<br />
            @Html.TextBoxFor(Model => Model.AbdominalCircumference, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.AbdominalCircumference, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.FemurLength, new { @class = "col-sm-12" })<br />
            @Html.TextBoxFor(Model => Model.FemurLength, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.FemurLength, "", new { @class = "text-danger" })
        </div>
        <div class="d-inline-block">
            @Html.LabelFor(Model => Model.Note, new { @class = "col-sm-12" })<br />
            @Html.TextAreaFor(Model => Model.Note, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(Model => Model.Note, "", new { @class = "text-danger" })
        </div>

        <div class="d-inline">
           
            <button id="add_cancel" class="btn btn-small form-control">Cancel</button>
            <input type="submit" class="btn btn-small form-control" value="Save" />
        </div>

    </fieldset>
        }
    </div>
<script>
    $('#add_cancel').click(function () {

        $(this).parent().parent().parent().parent().parent().empty();
    });
</script>