@using PRENATALv2.Areas.Records.Models
@model MR_newPatients
@{
    Layout = "_Layout";
}

    <div class="container">
        @using (Html.BeginForm("Save", "MedicalRecords", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <fieldset class="align-content-lg-around">
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.ChoosenPatientId, new { @class = "col-sm-12" })
                    @Html.DropDownListFor(model => model.ChoosenPatientId, new SelectList(Model.NewP_List, "Value", "Text"), "Choose:", new { @Id = "TheChoosen", @onchange = "FindChoosen();", @class = "form-control", style = "width:200px;" })<br />
                    @Html.ValidationMessageFor(model => model.ChoosenPatientId, "", new { @class = "text-danger" })
                </div>
                <br /><hr />

                @for (int i = 0; i < Model.NewP_Details.Count(); i++)
                {

                    @Html.HiddenFor(Model => Model.NewP_Details[i].DoctorId)
                    @Html.HiddenFor(Model => Model.NewP_Details[i].Id)
                    <div id="@(Model.NewP_Details[i].Id)" hidden class="ChoosenMR">
                        @*<div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].MedicalRecordNumber, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].MedicalRecordNumber, new { @class = "thead-light col-sm-12" })
                            @Html.HiddenFor(Model => Model.NewP_Details[i].MedicalRecordNumber, new { @class = "d-none" })
                        </div>*@

                        @*<div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].DoctorId, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].DoctorId, new { @class = "col-sm-12" })
                            @Html.HiddenFor(Model => Model.NewP_Details[i].DoctorId)
                        </div>*@

                        <div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].Doctor, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].Doctor, new { @class = "col-sm-12" })
                            @Html.HiddenFor(Model => Model.NewP_Details[i].Doctor)
                        </div>

                        @*<div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].Id, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].Id, new { @class = "col-sm-12" })
                            @Html.HiddenFor(Model => Model.NewP_Details[i].Id)
                        </div>*@
                        @*<br />
                        <hr />*@
                        <div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].Name, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].Name, new { @class = "col-sm-12" })
                        </div>

                        <div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].Surname, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].Surname, new { @class = "col-sm-12" })
                        </div>

                        <div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].Email, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].Email, new { @class = "col-sm-12" })
                        </div>

                        <div class="d-inline-block">
                            @Html.LabelFor(Model => Model.NewP_Details[i].PhoneNumber, new { @class = "col-sm-12", })
                            @Html.DisplayFor(Model => Model.NewP_Details[i].PhoneNumber, new { @class = "col-sm-12" })
                        </div>
                        <br />
                        <hr />
                    </div>
                }
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.MartialStatus, new { @class = "col-sm-12", style = "width:200px;" })
                    @Html.DropDownListFor(model => model.MartialStatus, new SelectList(Model.StatusList, "Value", "Text"), "MartialStatus:", new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(model => model.MartialStatus, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.BloodType, new { @class = "col-sm-12" })
                    @Html.DropDownListFor(model => Model.BloodType, new SelectList(Model.BloodTypes, "Value", "Text"), "BloodType:", new { @class = "form-control", style = "width:200px;" })<br />
                    @Html.ValidationMessageFor(model => model.BloodType, "", new { @class = "text-danger" })
                </div>

                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.RhFactor, new { @class = "col-sm-12" })
                    @Html.DropDownListFor(model => model.RhFactor, new SelectList(Model.RhFactors, "Value", "Text"), "RhFactor:", new { @class = "form-control", style = "width:200px;" })<br />
                    @Html.ValidationMessageFor(model => model.BloodType, "", new { @class = "text-danger" })
                </div>

                <br />
                <hr />
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.BirthDate, new { @class = "col-sm-12" })
                    @Html.TextBoxFor(model => model.BirthDate, new { @type = "date", @class = "datepicker form-control" })<br />
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.MaidenName, new { @class = "col-sm-12" })
                    @Html.TextBoxFor(model => model.MaidenName, new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(model => model.MaidenName, "", new { @class = "text-danger" })
                </div>

                <div class="d-inline-block">
                    @Html.LabelFor(Model => Model.PersonalIdentificationNumber, new { @class = "col-sm-12" })
                    @Html.TextBoxFor(model => model.PersonalIdentificationNumber, new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(model => model.PersonalIdentificationNumber, "", new { @class = "text-danger" })
                </div>

                <br />
                <hr />
                <div class="d-inline">
                    <input type="submit" class="form-control btn btn-small" value="Save" />
                </div>
            </fieldset>
        }
    </div>

<script>
    //$(document).ready(function() {
    //        $(".ChoosenMR input[name*='Doctor']").each(function(){
    //            this.name = 'Doc';
    //            this.Id = 'Doc';
    //            console.log(this.name);
    //        })


    //    $(".ChoosenMR input[name$='Id']")
    //            .each(function(){
    //                this.name = 'Id';
    //                this.Id = 'Id';
    //            console.log("->"+this.name);
    //        })

    //    $(".ChoosenMR input[name$='PersonalIdentificationNumber']")
    //        .each(function(){
    //            this.name = 'PersonalIdentificationNumber';
    //            this.Id = 'PersonalIdentificationNumber';
    //        console.log("-->"+this.name);
    //        })
    //});
    function FindChoosen() {
        var ChoosenId = $('#TheChoosen').val();

        $.each($('.ChoosenMR'), function () {
            if ($(this).attr('id') == ChoosenId) {
                $(this).removeAttr('hidden');

                console.log($(this).attr('id') + '->yes');
            }
            else {
                $(this).attr('hidden', true);
                console.log($(this).attr('id') + '->no');
            }

        });

    }
</script>
